<!--- base.html--->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Secure NIA Portal{% endblock %}</title>
  
  <!-- Global CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='css/create_account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', path='css/account_created.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
  
  <!-- Page-specific CSS -->
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <div class="logo">
     
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer></footer>
</body>
</html>
