<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Secure NIA Portal{% endblock %}</title>
  <!-- Correct CSS link -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <!-- Correct image link -->
      <img src="{{ url_for('static', path='images/idme_logo.png') }}" alt="" height="40">
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    
  </footer>
</body>
</html>
